<div class="flex justify-center mt-20">
  <div class="w-full max-w-sm bg-white p-14 rounded shadow-sm border border-gray-200">
    <h2 class="text-xl font-semibold text-center mb-4">Sign Up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%# <%= render "devise/shared/error_messages", resource: resource %> 

      <div class="mb-3">
        <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-indigo-500" %>
        <% if resource.errors[:email].any?%>
        <p class= "text-red-400 text-sm"><%= resource.errors[:email].first%></p>
        <%end%>
      </div>
 
      <div class="mb-3">
        <%= f.label :name, class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "mt-1 w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-indigo-500" %>
        <% if resource.errors[:name].any?%>
        <p class= "text-red-400 text-sm"><%= resource.errors[:name].first%></p>
        <%end%>
      </div>


      <div class="mb-3">
        <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
        <% if @minimum_password_length %>
          <span class="text-xs text-gray-500">(<%= @minimum_password_length %> characters minimum)</span>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-indigo-500" %>
        <% if resource.errors[:password].any?%>
        <p class= "text-red-400 text-sm"><%= resource.errors[:password].first%></p>
        <%end%>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, class: "block text-sm font-medium text-gray-700" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-indigo-500" %>
        <% if resource.errors[:password_confirmation].any?%>
        <p class= "text-red-400 text-sm"><%= resource.errors[:password_confirmation].first%></p>
        <%end%>
      </div>

      <div>
        <%= f.submit "Sign up", class: "w-full bg-[#3f374d] text-white py-2 rounded hover:bg-[#2e2a3a] transition" %>
      </div>
      
    <% end %>

       <div class="mt-4 text-center text-sm text-gray-600">
        <%= render "devise/shared/links" %>
       </div>
  </div>
</div>
